html, body {
    background-color: teal;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;;
}

button {
    background:tomato;
    color:white;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 5px;
    padding: 10px;
}

/* Es conveniente ordenar las etiqutas del css de 
forma alfabetica */